<form action="/data" method="POST">
    <div class="container">
        <h1>Calculate Dovetails</h1>
        <p style="font-family: monospace; font-size: 18px">
            <label for="number_tails">Number Of
                Tails&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</label>
            <input type="text" id="number_tails" name="number_tails" value=3><br><br>
            <label for="board_width">Width of Board (in inches)&emsp;&emsp;</label>
            <input type="text" id="board_width" name="board_width" value=3><br><br>
            <label for="pin_size">Size of Pin (in inches)&emsp;&emsp;&emsp;&emsp;&emsp;</label>
            <input type="text" id="pin_size" name="pin_size" value=0.25><br><br>
            <label for="half_pin_size">Size of Half-pin (in inches)</label>
            <input type="text" id="half_pin_size" name="half_pin_size" value=0.125><br><br>
            <input type="submit" value="Calculate">
        </p>
    </div>
</form>